<h1>Welcome to You Got Surved</h1>

<form action="/user_dash" method="get">
    <input type="submit" value="Take a Survey">
</form>

<form action="/form" method="get">
    <input type="submit" value="Design A New Survey">
</form>

<form action="/dashboard" method="get">
    <input type="submit" value="Manage Surveys">
</form>
